@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #1e293b; /* bg-slate-800 */
    --dark-primary: #fff; /* text-slate-50 */
    --primary-light: #334155; /* bg-slate-700 */
    --dark-primary-light: #f1f5f9; /* text-slate-100 */
    --color: #f1f5f9; /* text-slate-100 */
    --dark-color: #1e293b; /* bg-slate-800 */
}
